* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

body {

    background: url('../images/bg.png') center top no-repeat rgb(0, 0, 0);

}

.jssorb05 {
            position: absolute;
        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('../images/b16.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb05 div { background-position: -7px -7px; }
        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
        .jssorb05 .av { background-position: -67px -7px; }
        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }
        
        /* jssor slider arrow navigator skin 22 css */
        /*
        .jssora22l                  (normal)
        .jssora22r                  (normal)
        .jssora22l:hover            (normal mouseover)
        .jssora22r:hover            (normal mouseover)
        .jssora22l.jssora22ldn      (mousedown)
        .jssora22r.jssora22rdn      (mousedown)
        .jssora22l.jssora22lds      (disabled)
        .jssora22r.jssora22rds      (disabled)
        */
        .jssora22l, .jssora22r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 58px;
            cursor: pointer;
            background: url(../images/a22.png) center center no-repeat;
            overflow: hidden;
        }
        .jssora22l { background-position: -10px -31px; }
        .jssora22r { background-position: -70px -31px; }
        .jssora22l:hover { background-position: -130px -31px; }
        .jssora22r:hover { background-position: -190px -31px; }
        .jssora22l.jssora22ldn { background-position: -250px -31px; }
        .jssora22r.jssora22rdn { background-position: -310px -31px; }

        .jssora22l.jssora22lds { background-position: -10px -31px; opacity: .3; pointer-events: none; }
        .jssora22r.jssora22rds { background-position: -70px -31px; opacity: .3; pointer-events: none; }
		
		

.btn_dowwnl {
	float:left; position:absolute; z-index:1000; bottom:40px; left:50%; margin-left: -300px;
}
.btn_dowwnl a {
	opacity:0.9; 
}
.btn_dowwnl a:hover {
	opacity:100; 
}
.ctout {
	width:750px;
		
}
.logomu {
	text-align:center;
	padding:20px 0;
}
.logomu a img {
	width:40%;
}
.contentb {
	background:#fff;
	padding:15px;
	float:left;
	border-radius:10px;
	margin-top:30%;
	box-shadow:0 0 15px #000000;
}
.baot1 {
	margin-bottom:20px;
	float:left;	
}
.download {
	margin-top:20px;
	text-align:center;
}
.download a{
	margin:2px 0;
	float:left;
	width:100%;
	text-align:center;
}
.icongame{
	text-align:center;	
}
.icongame img{
	width:100%;
	text-align:center;	
}
.newscontent {
	width:100%;
}
.notect {
	background:rgba(237,100,0,0.8); 
	display: block; 
	position: absolute; 
	top: 20px; 
	left: 100px; 
	width: 800px; 
	padding:10px; 
	font-size: 18px; 
	color: #ffffff; 
	line-height:20px; 
	text-align: center;
}
.footer {
	text-align:center;
	color:#ccc;
	padding-bottom:10px;	
}
.btnloat {
	margin:10px 0;	
	background:#EEEEEE;
	padding:5px 0;
	float:left;
	width:100%;
}
.fb-btn  {
	border:1px solid #3a589d;
	border-radius:4px;
	padding:10px 0;
	font-size:14px;	
	text-align:center;
	margin:0 10px;
	text-transform:uppercase;
	-webkit-transition-duration: .4s;
    transition-duration: .4s;
	color:#fff;
	background:#3a589d;
	margin-left:15%;
}
.fb-btn:hover  {
	color:#3a589d;
	background:#fff;
	text-decoration:none;
	
}
.forum-btn:hover  {
	color:#ff9200;
	background:#fff;
	text-decoration:none;
	
}
.forum-btn  {
	border:1px solid #ff9200;
	text-transform:uppercase;
	border-radius:4px;
	padding:10px 0;
	
	font-size:14px;	
	text-align:center;
	margin:0 10px;
	color:#fff;
	background:#ff9200;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
}



@media screen and (max-width: 767px) and (min-width: 481px) {
	.ctout {
		width:100%;
		
	}
	.disct {
		text-align:center;	
	}
	.icongame img{
	width:40%;
	text-align:center;	
}
.logomu a img {
	width:60%;
}
.contentb {
	margin:30% 15px;	
}
}

@media screen and (max-width: 480px) and (min-width: 120px){
	.ctout {
		width:100%;
		
	}
	.disct {
		text-align:center;	
	}
	.icongame img{
	width:40%;
	text-align:center;	
}
.logomu a img {
	width:60%;
}
.contentb {
	margin:30% 15px;	
}
}







